.contacts__form {
	margin-top: 15px;
	display: flex;
	flex-direction: column;

	&-row {
		display: flex;

		@media (max-width:767px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	input {
		width: 280px;
		height: 45px;
		line-height: 45px;
		border: 1px solid #000000;
		background-color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		margin-right: 25px;
		padding: 0 20px;
		border-radius: 2px;
		transition: border 0.3s ease;

		@media (max-width:767px) {
			width: 300px;
			margin-right: 0;
			margin-top: 20px;
		}

		@media (max-width:575px) {
			width: 280px;
		}

		&:focus {
			border: 1px solid $main-color;
		}
	}

	#email {
		margin-right: 0;
	}

	textarea {
		margin-top: 30px;
		width: 585px;
		min-height: 190px;
		border: 1px solid #000000;
		background-color: #ffffff;
		border-radius: 2px;
		font-size: 14px;
		font-weight: 500;
		text-align: left;
		padding: 20px 20px;
		outline: none;
		resize: vertical;
		transition: border 0.3s ease;

		@media (max-width:767px) {
			width: 300px;
			margin-top: 15px;
		}

		@media (max-width:575px) {
			width: 280px;
		}

		&:focus {
			border: 1px solid $main-color;
		}
	}

	input.error {
		margin-bottom: 2px;
	}

	.error {
		border: 1px solid rgb(163, 55, 55);
	}

	label {
		position: absolute;
		top: -7px;
		left: 10px;
		width: 100px;
		font-weight: 500;
		background-color: #fff;
		font-size: 13px;
		cursor: pointer;
		z-index: 99;
		text-align: center;

		@media (max-width:767px) {
			top: 13px;
		}
	}

	label.error {
		border: none;
		font-size: 13px;
		text-align: left;
		margin-bottom: 5px;
		padding-left: 10px;
		color: rgb(163, 55, 55);
	}

	&-group {
		position: relative;
		display: flex;
		flex-direction: column;

		&_message {
			position: relative;

			@media (max-width:767px) {
				margin-top: 10px;
				justify-content: center;
				align-items: center;
			}

			label {
				position: absolute;
				top: 23px;
				left: 10px;
				width: 130px;

				@media (max-width:767px) {
					top: 8px;
					left: 60px;
				}

				@media (max-width:575px) {
					top: 8px;
					left: 10px;
				}

				//IE
				@media all and (-ms-high-contrast: none),
				(-ms-high-contrast: active) {
					@media (max-width:575px) {
						left: 70px;
					}
				}
			}
		}
	}

	&-btn {
		margin-top: 25px;

		@media (max-width:767px) {
			margin: 25px auto 0 auto;
		}
	}
}


.errors-input {
	line-height: 13px;
	color: #a33737;
	font-size: 13px;
	font-weight: 700;
	margin-top: 2px;
}

.status {
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	padding: 10px;
	transition: background-color 0.5s ease-in-out;
	opacity: 0;

	&_ok {
		background-color: #38b357;
		opacity: 1;
	}

	&_error {
		background-color: #af3838;
		opacity: 1;
	}
}