.marker {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 16);
  color: #000000;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: $main-color;
    z-index: -1;
  }

  &_position_center::before {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_size_big {
    font-size: 25px;
  }
}

.title {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #000000;
  z-index: 1;

  @media (max-width:991px) {
    font-size: calc(36px/1.5);
    line-height: 1.5;
  }

  &::before {
    content: '';
    position: absolute;
    height: 3px;
    background: $main-color;
    z-index: -1;
  }

  &_position_center::before {
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;

  }

  &_position_left::before {
    top: 100%;
    left: 0%;
    width: 80px;
  }
}

.hide {
  opacity: 0;
  transition: 0.3s all;
  z-index: -1;
  visibility: hidden;
}

.show {
  opacity: 1;
  transition: 0.3s opacity;
  z-index: 10;
  visibility: visible;
}

.section-line {
  height: 3px;
  width: 250px;
  background-color: $main-color;
  margin: 0 auto;
}
