.menu {
  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.75);
    overflow: auto;
    opacity: 0;
    transition: 0.3s all;
    visibility: hidden;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    background-color: $main-color;
    transition: 0.6s;
    top: 0;
    left: -100%;
    width: 345px;
    height: 100%;
    padding: 30px 30px;
    z-index: 11;

    @media (max-width:991px) {
      width: 300px;
    }

    @media (max-width:575px) {
      width: 100%;
    }

    &_active {
      left: 0;
      overflow: auto;
    }
  }

  &__link {
    position: relative;
    margin: 5px 0;
    padding: 0px 20px;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.5;
    color: #FFFFFF;
    text-transform: uppercase;
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.3s ease-in;

    @media (max-width:991px) {
      font-size: 1.4rem;
    }

    &:hover {
      background-size: 100% 2px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -5px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }

  &__hamburger {
    margin-left: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 400ms;
    user-select: none;
    cursor: pointer;

    &_active {
      transform: rotate(45deg);
      position: fixed;
      z-index: 12;
      left: 230px;

      @media (max-width:991px) {
        left: 190px;
      }

      @media (max-width:575px) {
        left: auto;
        right: 10px;
      }

      .menu__hamburger-line_position_top {
        stroke-dashoffset: -98px;
      }

      .menu__hamburger-line_position_bottom {
        stroke-dashoffset: -138px;
      }
    }
  }

  &__hamburger-line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;

    &_position_top {
      stroke-dasharray: 40 139;
    }

    &_position_bottom {
      stroke-dasharray: 40 180;
    }
  }
}
