.promo {
  min-height: 800px;
  width: 100%;
  background-color: #BEE7FB;
  background-image: url(../img/promo.svg);
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: 75% center;
  padding-top: 206px;

  @media (max-width:1199px) {
    background-size: 500px;
    background-position: 100% center;
  }

  @media (max-width:991px) {
    background-size: 400px;
    min-height: 650px;
    padding-top: 180px;
  }

  @media (max-width:767px) {
    background-position: 120% center;
    min-height: 600px;
    padding-top: 150px;
  }

  @media (max-width:575px) {
    background-image: none;
    min-height: 500px;
    padding-top: 130px;
  }

  &__info {
    max-width: 700px;

    @media (max-width:1199px) {
      max-width: 600px;
      margin-left: 20px;
    }

    @media (max-width:991px) {
      max-width: 400px;
      margin-left: 10px;
    }

    @media (max-width:767px) {
      background-color: rgba($color: #ffffff, $alpha: 0.7);
      padding: 30px;
      max-width: 100%;
      margin: 0 25px;
    }

    @media (max-width:575px) {
      background-color: transparent;
      margin: 0;
      padding: 0 10px;
      text-align: center;
    }
  }

  &__title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #000000;

    @media (max-width:991px) {
      font-size: calc(48px/1.5);
      line-height: 1.5;
    }

    @media (max-width:575px) {
      font-size: calc(48px/1.8);
    }
  }

  &__info-link {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }

  &__info-about {
    margin-left: 30px;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    padding-bottom: 5px;
    background-image: linear-gradient($main-color, $main-color);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.3s ease-in;

    &:hover {
      background-size: 100% 2px;
    }
  }
}
