// классы для плавного скрывания/показывания элемента
.hide {
  opacity: 0;
  transition: 0.3s all;
  z-index: -1 !important;
  visibility: hidden;

}

.show {
  opacity: 1 !important;
  transition: 0.3s opacity !important;
  z-index: 999 !important;
  visibility: visible !important;
}

//класс фиксации меню
.fixed {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
}

//общие классы
.marker {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #000000;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: $main-color;
    z-index: -1;
  }

  &_position_center::before {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_size_big {
    font-size: 25px;
  }
}

.title {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #000000;
  z-index: 1;

  @media (max-width:991px) {
    font-size: calc(36px/1.5);
    line-height: 1.5;
  }

  &::before {
    content: '';
    position: absolute;
    height: 3px;
    background: $main-color;
    z-index: -1;
  }

  &_position_center::before {
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;

  }

  &_position_left::before {
    top: 100%;
    left: 0%;
    width: 80px;
  }
}
