@import '@base/base';

.list {
  padding-top: 100px;

  &__title {
    font-size: 20px;
  }

  &__subtitle {
    margin: 25px 0;
    font-size: 18px;
  }

  &__item {
    margin: 15px 0;

    a {
      color: #007bff;

      &:hover {
        color: #0056b3;
      }
    }
  }
}
