@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import '~bootstrap/dist/css/bootstrap-reboot.min';
@import 'base/null';
@import 'base/fonts';
@import 'base/variables';
@import 'base/base';
@import 'base/hamburger2';
@import 'base/forms';
@import 'base/pageup';
@import 'base/buttons';
@import 'base/menu';

@import 'blocks/list';
@import 'blocks/promo';
@import 'blocks/skills';
@import 'blocks/works';
@import 'blocks/about';
@import 'blocks/contacts';
@import 'blocks/footer';

@import 'base/media';