*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  min-height: 100%;
  text-size-adjust: 100%;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  background-color: transparent;
}

:not(output):-moz-ui-invalid {
  box-shadow: none;
}
