*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  line-height: 1;
  text-size-adjust: 100%;
}

:not(output):-moz-ui-invalid {
  box-shadow: none;
}
