.contacts__form {
	margin-top: 15px;
	display: flex;
	flex-direction: column;

	&-row {
		display: flex;
	}

	input {
		width: 280px;
		height: 45px;
		line-height: 45px;
		border: 1px solid #000000;
		background-color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		margin-right: 25px;
		padding: 0 20px;
	}

	textarea {
		margin-top: 30px;
		margin-bottom: 30px;
		width: 585px;
		min-height: 190px;
		border: 1px solid #000000;
		background-color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		text-align: left;
		padding: 20px 20px;
		outline: none;
		resize: vertical;
	}

	input.error {
		margin-bottom: 2px;
	}

	.error {
		border: 1px solid rgb(163, 55, 55);
	}

	label {
		position: absolute;
		top: -7px;
		left: 10px;
		width: 100px;
		font-weight: 500;
		background-color: #fff;
		font-size: 13px;
		cursor: pointer;
		z-index: 99;
		text-align: center;
	}

	label.error {
		border: none;
		font-size: 13px;
		text-align: left;
		margin-bottom: 5px;
		padding-left: 10px;
		color: rgb(163, 55, 55);
	}

	&-group {
		position: relative;
		display: flex;
		flex-direction: column;

		&_message {
			label {
				position: absolute;
				top: 23px;
				left: 10px;
				width: 130px;
			}
		}
	}
}

.errors-input {
	line-height: 13px;
	color: #a33737;
	font-size: 13px;
	font-weight: 700;
	margin-top: 2px;
	text-align: center;
}