@media (min-width: 768px) {
	.ham {
		display: none;
	}
}

@media (max-width: 767px) {
	.lock {
		overflow: hidden;
	}

	.ham {
		cursor: pointer;
		z-index: 2000;
		margin-left: 100px;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.hamRotate.active {
		transform: rotate(45deg);
	}

	.hamRotate180.active {
		transform: rotate(180deg);
	}

	.line {
		fill: none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke: #FB4C47;
		stroke-width: 5.5;
		stroke-linecap: round;
		z-index: 99;
	}

	.ham1 .top {
		stroke-dasharray: 40 139;
	}

	.ham1 .bottom {
		stroke-dasharray: 40 180;
	}

	.ham1.active .top {
		stroke-dashoffset: -98px;
	}

	.ham1.active .bottom {
		stroke-dashoffset: -138px;
	}

}