html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.notfound {
	flex: 1 0 auto;

	&__text {
		padding: 100px 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		div {
			color: #000000;
			font-size: 30px;
			font-weight: 400;
			letter-spacing: 1.2px;

			@media (max-width: 767px) {
				font-size: 18px;
			}

		}

		span {
			text-shadow: 0 0 5px rgba(188, 188, 188, 0.3);
			color: #4395d7;
			font-size: 236px;
			font-weight: 700;

			@media (max-width: 767px) {
				font-size: 130px;
			}
		}
	}

	&__footer {
		flex: 0 0 auto;
		width: 100%;
		height: 80px;
		box-shadow: 0 0 21px 5px rgba(188, 188, 188, 0.3);
		background-color: #ffffff;

		@media (max-width: 575px) {
			height: 150px;
		}

	}

	a.notfound__btn {
		display: block;
		width: 242px;
		height: 56px;
		flex: 0 0 242px;
		border-radius: 28px;
		background-color: #4395d7;
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
		line-height: 52px;
		text-align: center;
		margin-top: 51px;
		letter-spacing: normal;
		border: 2px solid #4395d7;
		transition: background-color 0.3s linear,
			color 0.3s linear;

		&:hover {
			border: 2px solid #4395d7;
			background-color: #fff;
			color: #000;
		}

		@media (max-width: 767px) {
			margin: 35px auto;
		}
	}
}