.big-catalog {
	min-height: 500px;

	&__block {
		margin-top: 35px;
		display: flex;
	}

	&__col {
		max-width: 260px;
		width: 260px;
		flex: 1 0 260px;

		@media (max-width: 1199px) {
			max-width: 230px;
			width: 230px;
			flex: 1 0 230px;
		}
	}


	&__item-top {
		width: 260px;
		height: 50px;
		border-radius: 8px 8px 0 0;
		background-color: #0095d9;
		color: #ffffff;
		font-size: 16px;
		font-weight: 700;
		line-height: 50px;
		text-transform: uppercase;
		letter-spacing: 0.48px;
		padding: 0 20px;
		box-shadow: 1px -5px 20px rgba(16, 114, 186, 0.22);

		@media (max-width: 1199px) {
			width: 230px;
			flex: 1 0 230px;
		}
	}

	&__col-item {
		width: 260px;
		min-height: 100px;
		box-shadow: 1px 1px 20px rgba(16, 114, 186, 0.22);
		border-radius: 8px;
		background-color: #ffffff;
		margin-bottom: 30px;

		@media (max-width: 1199px) {
			width: 230px;
			flex: 1 0 230px;
		}
	}

	&__col-title {
		position: relative;
		cursor: pointer;
	}

	&__col-tab {
		padding-top: 2px;

		&:first-child {
			padding-top: 6px;
		}

		span.big-catalog__col-title {
			display: block;

			&::after {
				content: url(../img/icons/arrow_up.png);
				position: absolute;
				top: -2px;
				left: 230px;
				width: 30px;
				z-index: 50;

				@media (max-width: 1199px) {
					left: 200px;
				}
			}

			&_empty {
				&::after {
					content: '';
				}
			}

			&_close {
				&::after {
					content: url(../img/icons/arrow_down.png);
				}
			}
		}
	}

	&__col-line {
		width: 230px;
		height: 1px;
		background-color: #000000;
		opacity: 0.1;
		margin: 0 auto;

		@media (max-width: 1199px) {
			width: 90%;
		}
	}

	&__col-tab-content_inside {
		// padding-left: 20px; //для сворачивания элементов на чистом JS
		// padding-top: 10px; //для сворачивания элементов на чистом JS
		margin-left: 20px;
		padding-top: 5px;
		color: #383838;
		font-size: 14px;
		font-weight: 300;
		padding-right: 20px;
		word-break: break-word;
		overflow-wrap: break-word;
		//для сворачивания элементов на чистом JS
		max-height: 0;
		opacity: 0;
		transition: all 0.3s ease-out;
		overflow: hidden;

		.checkbox {
			position: absolute;
			z-index: -1;
			opacity: 0;
			margin: 10px 0 0 20px;
		}

		.checkbox+label {
			position: relative;
			padding: 0 0 0 25px;
			margin-bottom: 14px;
			cursor: pointer;
		}

		.checkbox+label:before {
			content: '';
			position: absolute;
			top: -3px;
			left: 0;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			border: 1px solid #dddddd;
			transition: .2s;
		}

		.checkbox:checked+label:before {
			width: 18px;
			height: 18px;
			background-color: #ee2432;
			border: none;
			// background-image: url('../img/catalog_page/check.png');
			// background-repeat: no-repeat;
			// background-size: auto;
			// background-position: center;
			z-index: 2;
		}
	}

	//для работы с Jquery нужно добавить класс к скрытым элементам
	// .tab-hide {
	// 	display: none;
	// }

	//для работы с чистым JS
	&__col-tab-content_inside.active-content {
		opacity: 1;
	}

	&__col-btn {

		.catalog-page__btn {

			@media (max-width: 1199px) {
				width: 230px;
			}
		}

		a:last-child {
			margin-top: 12px;
		}
	}

	span.big-catalog__col-title {
		color: #282c68;
		font-size: 14px;
		font-weight: 700;
		line-height: 40px;
		padding-left: 20px;
	}

	&__elements {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-left: 25px;
		height: 100%;
		width: 100%;

		@media (max-width: 1199px) {
			margin-left: 20px;
		}

		@media (max-width: 991px) {
			margin-right: 15px;
		}

		@media (max-width: 575px) {
			margin-left: 0;
			margin-right: 0;
			justify-content: center;
		}
	}

	&__elements-item {
		width: 260px;
		height: 325px;
		box-shadow: 1px 1px 20px rgba(16, 114, 186, 0.22);
		border-radius: 20px;
		background-color: #ffffff;
		margin-bottom: 30px;

		&:nth-child(3n+2) {
			margin-right: auto;
			margin-left: 22.5px;

			@media (max-width: 1199px) {
				margin-left: 10.5px;
			}

			@media (max-width: 991px) {
				margin-right: 0;
				margin-left: 0;
			}
		}


		@media (max-width: 1199px) {
			width: 230px;
			height: 350px;
			padding: 10px;
		}

		@media (max-width: 991px) {
			padding: 15px;
			height: 380px;
			margin-right: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}

		@media (max-width: 767px) {
			width: 245px;
			display: block;
		}
	}

}

.price-container * {
	box-sizing: border-box;
	outline: none;
}

.price-container {
	padding-left: 30px;
	padding-right: 21px;
	margin-bottom: 55px;

	@media (max-width: 1199px) {
		padding: 0 7px;
	}
}

.price-container:after {
	content: "";
	clear: both;
	display: table;
}

.price-container .ui-slider {
	position: relative;
	height: 1px;
	top: 59px;
	background-color: #0095d9;
}

.price-container .ui-slider .ui-slider-handle {
	position: absolute;
	margin-left: -16px;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background-color: #ee2432;
	cursor: pointer;
	top: -9px;
	z-index: 50;
}

.price__input-left,
.price__input-right {
	margin-top: 4px;
	width: 98px;
	height: 37px;
	border-radius: 10px;
	border: 1px solid #dddddd;
	color: #383838;
	font-family: "Circe - Extra Light";
	font-size: 14px;
	font-weight: 400;
	padding-top: 16px;
	padding-left: 16px;
}

.price__input-left {
	float: left;
}

.price__label-left {
	position: relative;

	&::before {
		content: 'от';
		position: absolute;
		top: 7px;
		left: 15px;
		z-index: 50;
		color: #383838;
		font-family: "Circe - Extra Light";
		font-size: 13px;
		font-weight: 400;
	}
}

.price__label-right {
	position: relative;

	&::before {
		content: 'до';
		position: absolute;
		top: 7px;
		left: 130px;
		z-index: 50;
		color: #383838;
		font-family: "Circe - Extra Light";
		font-size: 13px;
		font-weight: 400;
	}
}

.price__input-right {
	float: right;
	margin-left: 10px;
}

.price-container .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	height: 1px;
	background-color: #0095d9;
}

.filter__btn {
	display: none;
}

#close_filter {
	display: none;
}

#apply_filter {
	display: none;
}

@media (max-width: 767px) {

	.big-catalog__col-btn {
		display: none;
	}

	#close_filter {
		display: block;
	}

	#apply_filter {
		display: block;
	}

	.big-catalog__col {
		position: fixed;
		transition: 0.6s;
		background-color: #fff;
		top: 0;
		left: -100%;
		max-width: 290px;
		width: 290px;
		height: 100%;
		z-index: 1999;
		padding: 25px;

		@media (max-width: 350px) {
			max-width: 100%;
			width: 100%;
		}

		&_active {
			left: 0;
			overflow: auto;
			overflow-x: hidden;
			transition: 0.6s;

			.big-catalog__item-top {
				margin: 0 auto;
			}

			.big-catalog__col-item {
				margin: 0 auto 25px auto;
			}
		}

	}

	.filter__menu {
		display: flex;
		justify-content: space-between;
		padding-bottom: 15px;

		a {
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	.filter__btn {
		display: block;
		margin-top: 25px;

	}
}

a.catalog-page__btn {
	display: block;
	width: 200px;
	height: 50px;
	font-size: 14px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	flex: 1 0 200px;
	margin: 0 auto;
	border-radius: 50px;

	&_purple {
		background-color: #9544a8;
		border: 2px solid #9544a8;
		transition: background-color 0.3s linear,
			color 0.3s linear;
	}

	&_red {
		width: 100px;
		flex: 1 0 100px;
		background-color: #0095d9;
		border: 2px solid #0095d9;
		transition: background-color 0.3s linear,
			color 0.3s linear;
	}

	&_green {
		width: 100px;
		flex: 1 0 100px;
		background-color: #6ac635;
		border: 2px solid #6ac635;
		transition: background-color 0.3s linear,
			color 0.3s linear;
	}
}