.footer {
	padding-top: 50px;
	padding-bottom: 25px;
	position: relative;
	z-index: 98;

	&__contacts {
		max-width: 350px;

		@media (max-width: 767px) {
			max-width: 100%;
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}


		a {
			color: #6ac635;
			transition: color 0.3s ease-in;

			&:hover {
				color: #6ac635;
			}
		}

	}

	&__contacts-wrapper {
		margin-top: 30px;
		margin-right: 30px;

		a {
			color: #383838;
			font-size: 18px;
		}
	}

	&__wrapper {
		display: flex;

		@media (max-width: 991px) {
			flex-wrap: wrap;
		}

		@media (max-width: 767px) {
			justify-content: center;
		}
	}

	&__logo {
		max-width: 330px;
		height: 75px;

		@media (max-width: 767px) {
			max-width: 100%;
			width: 100%;
		}

		@media (max-width: 575px) {
			img {
				width: 250px;
			}
		}
	}

	&__phone {
		display: flex;
		text-transform: uppercase;

		@media (max-width: 575px) {
			width: 205px;
		}

		a {
			font-weight: 700;
		}

		div {
			padding-left: 21px;

			@media (max-width: 575px) {
				padding-left: 19px;
				text-align: left;
			}
		}
	}

	&__geo {
		display: flex;
		color: #383838;
		font-size: 18px;
		font-weight: 300;
		margin-top: 19px;

		div {
			padding-left: 24px;
		}
	}

	&__mail {
		display: flex;
		margin-top: 16px;

		a {
			font-weight: 300;
		}

		div {
			padding-left: 21px;
		}
	}

	&__social {
		margin-top: 23px;

		a {
			margin-right: 14px;
		}

		img {
			transition: transform 0.2s linear;

			&:hover {
				transform: scale(1.1);
			}
		}

	}

	&__menu {
		padding-left: 70px;
		margin-top: 106px;
		margin-right: 50px;

		@media (max-width: 991px) {
			padding-left: 0;
			padding-right: 25px;
			margin-bottom: 15px;
		}

		@media (max-width: 767px) {
			margin-top: 25px;
			padding-left: 0;
		}

		@media (max-width: 575px) {
			display: none;
		}

		&_right {
			margin-top: 106px;
			padding-left: 21px;
		}

		li {
			margin-top: 6px;

			&:first-child {
				margin-top: 0px;
			}

			a {
				color: #383838;
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				transition: color 0.3s ease-in;

				&:hover {
					color: #4395d7;
				}
			}
		}

		&-block {
			display: flex;
			min-height: 100px;

			ul {
				max-width: 520px;
				-moz-column-count: 2;
				-webkit-column-count: 2;
				column-count: 2;
				column-fill: auto;
				-webkit-column-fill: auto;
				-moz-column-fill: auto;
				height: 130px;

				@media (max-width: 1199px) {
					height: 200px;
					max-width: 380px;
				}

				@media (max-width: 991px) {
					column-fill: balance;
					column-count: 1;
				}
			}
		}
	}

	&__label {
		color: #383838;
		font-size: 20px;
		font-weight: 700;
		padding-bottom: 16px;
	}

	&-line {
		width: 100%;
		margin-top: 19px;
		height: 1px;
		background-color: #afafaf;

		@media (max-width: 1199px) {
			margin-top: 25px;
		}

		@media (max-width: 575px) {
			margin-top: 15px;
		}
	}

	&__underline {
		padding-top: 29px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #383838;
		font-size: 14px;
		font-weight: 400;

		@media (max-width: 1199px) {
			min-height: 80px;
			padding-bottom: 25px;
		}

		@media (max-width: 767px) {
			justify-content: center;
		}

		@media (max-width: 575px) {
			flex-direction: column;
			padding-bottom: 15px;
		}

		a {
			color: #383838;
			font-size: 14px;
			font-weight: 400;
			text-decoration: underline;
			transition: color 0.3s ease-in;

			&:hover {
				color: #4395d7;
			}
		}
	}

	&__privacy {
		text-align: center;

		@media (max-width: 575px) {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	&__design {
		text-align: right;

		span {
			font-size: 13px;
			padding-right: 10px;
		}

		img {
			margin-right: 6px;
		}
	}
}