.header {
	background-color: #fff;
	z-index: 2;

	&__phone {
		text-align: right;

		@media (max-width: 991px) {
			text-align: left;
			margin-right: 15px;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__btn {
		@media (max-width: 991px) {
			margin: 0 0 0 auto;
			margin-top: 10px;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	p {
		margin-bottom: 2px;
	}
}