.questions {
	position: relative;
	background: #ffffff;
	padding: 25px 0;

	&__title {
		font-weight: 700;
		font-size: 18px;
		text-transform: uppercase;
		color: #333333;
		margin-bottom: 20px;
	}

	&__block {
		min-height: 75px;
		padding: 10px;
		color: #333333;
		transition: all 0.3s ease-out;
	}

	&__block-top {
		display: block;
		background: #ff9853;
		font-weight: 700;
		font-size: 24px;
		line-height: 24px;
		// padding-bottom: 20px;
		cursor: pointer;
	}

	&__block-cont {
		max-height: 0;
		opacity: 0;
		transition: all 0.3s ease-out;
		overflow: hidden;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
	}

	&__block-cont.active-content {
		margin-top: 25px;
		opacity: 1;
		overflow: visible;
	}
}