.show {
	padding-top: 50px;
	padding-bottom: 50px;

	&__title {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 34px;
		text-align: center;
	}

	&__subtitle {
		text-align: center;
		width: 60%;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		transition: all 0.3s ease-out;
	}

	&__element {
		display: flex;
		flex: 1 1 20%;
		align-items: center;
		padding: 0 15px;
		margin-bottom: 25px;

		@media (max-width: 1199px) {
			flex-direction: column;
			text-align: center;
		}

		@media (max-width: 991px) {
			margin-bottom: (25px/2);
		}

		@media (max-width: 575px) {
			flex: 0 0 75%;
		}
	}

	&__element-img {
		margin-right: 20px;
		position: relative;
		flex: 0 0 110px;

		@media (max-width: 1199px) {
			margin-right: 0;
			margin-bottom: 15px;
		}

		img {
			width: 40px;
			height: 40px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&::after {
			content: "";
			display: block;
			width: 110px;
			height: 110px;
			border: 1px solid #e0e0e0;
			border-radius: 50%;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			width: 90px;
			height: 90px;
			border: 1px solid #4985ff;
			border-radius: 50%;
		}
	}

	&__element-text {
		flex: 1 1 auto;
		width: 100%;
	}

	&__element-title {
		font-weight: 600;
		font-size: 18px;
		line-height: 1;
		color: #000000;
		margin-bottom: 12px;
	}

	&__element-subtitle {
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		color: #999999;
	}

	&__btn {
		display: flex;
		justify-content: center;
		padding-top: 45px;

		@media (max-width: 991px) {
			padding-top: (45px/2);
		}
	}
}

#show_block {
	margin-bottom: 0;
}

.click-hide {
	max-height: 0;
	opacity: 0;
}